body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3f3300;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto; /* Center the container */
    margin-top: 50px; /* Add some space from the header */
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 16px;
}

.toggle.active {
    background-color: #5cb85c;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
